In [40]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [25]:
my_set.add(5)
print(my_set)
my_set.remove(1)
print(my_set)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [26]:
#pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

2
{3, 4, 5}

In [27]:
#clear elements
my_set.clear()
print(my_set)

set()

In [28]:
#set Membership test
mine_set={1,2,3,4,5}
print(3 in mine_set)
print(10 in mine_set)

True
False

In [33]:
#Mathematical operation
set1={1,2,5,4,4,9,7,6,3}
set2={9,7,5,6,3,4,8}
union=set1.union(set2)
intersection=set1.intersection(set2)
print(union)
print(intersection)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 9}

In [35]:
set1={1,2,5,4,4,9,7,6,3}
set2={9,7,5,6,3,4,8}
print(set1.difference(set2))

{1, 2}

In [37]:
#unique word in list

text="hi i i am vaibhav bura"
words=text.split()
unique_words=set(words)
print(unique_words)

{'vaibhav', 'bura', 'am', 'i', 'hi'}