In [2]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [9]:
numbers=(1,2,3,4,5,6)
print(numbers[::-1])

(6, 5, 4, 3, 2, 1)

In [12]:
##Tuple Operations
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
 #tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [22]:
#unpacked tuple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [23]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [26]:
#nested list
lst=[[1,2,3,4],[6,7,8,10],[1,"hello",3.13,"c"]]
lst[2][0:4]

[1, 'hello', 3.13, 'c']

In [29]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print(nested_tuple)
print(nested_tuple[0])
print(nested_tuple[1][2])

((1, 2, 3), ('a', 'b', 'c'), (True, False))
(1, 2, 3)
c

In [31]:
#iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False